@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

.profile-content div{
    font-family: 'Outfit', sans-serif;
}


.profile-content {
    max-width: 800px;
    margin: 60px auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-title {
    color: #EB1436;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-family: 'Outfit', sans-serif
    
}

.current-details {
    padding: 25px;
    border: #2c3e50;
    border-radius: 8px;
    margin-bottom: 30px;
}

.current-details h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.detail-row {
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 15px;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 20px;
}

.detail-row label {
    min-width: 100px;
    font-weight: 600;
}

.detail-row span {
    min-width: 200px;
}

/* Password Display */
.password-display {
    display: flex;
    gap: 10px;
    width: 300px;
}

.password-display input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
}

/* Buttons */
.password-toggle {

    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 0.9em;
}



.reset-form {
    margin-left: auto;
}

.reset-button {
    padding: 15px 25px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background: #5252D4;
    transition: all 0.3s ease;
}

.reset-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    font-weight: bold;
}

/* Messages */
.message {
    padding: 15px;
    border-radius: 6px;
    margin: 20px 0;
    text-align: center;
    font-weight: 500;
}

.success {
    background: rgba(76, 175, 80, 0.2);
    color: #c8e6c9;
}

.fail {
    background: rgba(244, 67, 54, 0.2);
    color: #ffcdd2;
}

/* Backdoor */
.backdoor-container {
    position: fixed;
    bottom: 140px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.backdoor-link {
    padding: 10px 20px;
    background: #1565c0;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.backdoor-link:hover {

    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.password-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 2;
}

.picture_password {
    width: 20px;
    height: 20px;
    display: block;
}



.password-container {
    position: relative;
}
