body {
    background: rgba(82, 82, 212, 0.86);
    overflow: hidden; /* Prevent shapes from creating scrollbars */
    margin: 0;

}

.body_2{
    background: rgba(82, 82, 212, 0.86);
    margin: 0;
    overflow-y: auto; /* Allows vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling if unnecessary */
}

.shape {
    position: absolute;
    animation: float 6s infinite ease-in-out, spin 6s infinite linear;
    mix-blend-mode: screen; /* For fun overlapping effects */
    border-radius: 10%; /* Default for square with rounded edges */
}

/* Random colors */
.shape:nth-child(odd) {
    background: rgba(76, 76, 171, 0.86);
}
.shape:nth-child(even) {
    background: rgb(35, 35, 82);
}

/* Circle */
.circle {
    border-radius: 50%; /* Makes the shape a circle */
    animation: float 8s infinite ease-in-out, spin 10s infinite linear;
}

/* Square */
.square {
    animation: float 4s infinite ease-in-out, spin 5s infinite linear;
}

/* Animations */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
