body, html {
    height: 100%; /* Ensure the body takes up full height of the screen */
    margin: 0; /* Remove default margins */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: white;
    background: rgba(82, 82, 212);
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    text-align: center; /* Center the text */
}

/* Style the links */
.container p a {
    color: #add8e6; /* Light blue color for links */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold text */
}

/* Add hover effect for links */
.container p a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #ffffff; /* Change color to white on hover */
}

.login-image {
    width: 80%; /* Makes the image responsive */
    max-width: 400px; /* Limits the maximum width */
    margin-top: 20px; /* Add some spacing between the text and the image */
}
