* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar .logo img {
    margin-top: 10px;
    height: 40px;
    width: auto;
}

.navbar .menu li {
    margin-left: 40px;
}

.navbar .leftmenu,
.navbar .rightmenu {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar .menu li img {
    width: 25px;
    height: auto;
    margin-left: 10px;
    flex-shrink: 0;
}

.navbar .rightmenu {
    margin-left: auto;
}

.navbar .menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar .menu a:hover {
    color: #ff0000;
}

body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin-bottom: 30px;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    background-image: url(IMAGE/main.jpg);
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.container .title {
    background: #7878c3;
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

form .content .personal_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 15px 0;
}

.content .personal_info .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.content .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.personal_info .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}

.content .personal_info .input-area {
    margin-bottom: 15px;
    width: 100%;
}

.content .input-area span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.personal_info .input-area input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}

.personal_info .input-area textarea {
    height: 100px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}

form .gender-details {
    font-size: 20px;
    font-weight: 500;
}

.button {
    display: block; /* Assuming it's a block-level element */
    margin: 10px auto; /* Auto margin for centering horizontally */
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    background-color: #a47ed4;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover,
a.button:hover {
    background-color: #005ecb;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}