footer {
    background-color: #5252D4;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 100px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-info {
    margin-top: 10px;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h3{
    margin-top: 5%;
   }