* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.banner {
    align-items: center;
    /* Vertically center */
}

.banner-image {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.banner-image img {

    width: 100%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.banner-content {
    padding: 10px 20px;
    /* Reduce the padding here */
    text-align: center;
    /* Center text within the banner content */
}

.banner h1 {
    color: #EB1436;
    text-align: center;
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
    margin-top: 5%;
}

.banner p {
    color: #EB1436;
    text-align: center;
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    margin-top: 2%;
}

/* Match Buttons Section */
.match-buttons {
    display: flex;
    justify-content: center;
    /* Align buttons side by side */
    gap: 50px;
    /* Space between the buttons */
    padding-top: 30px;

}

/* Style for the buttons */
.create-match-btn,
.find-match-btn {
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s ease;
}

/* Create Match Button */
.create-match-btn {
    background: linear-gradient(135deg, #5252D4, #5146b4);
    /* Blue gradient */
}

/* Find Match Button */
.find-match-btn {
    background: linear-gradient(135deg, #EB1436, rgba(235, 20, 54, 0.66));
}

/* Hover effects */
.create-match-btn:hover,
.find-match-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Shine effect */
    transform: scale(1.05);
    /* Slightly increase size */
}

/* Add bold font on hover */
.create-match-btn:hover,
.find-match-btn:hover {
    font-weight: bold;
}

/* Description Section */
.match-description {
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-top: 30px;
    width: 100%;
    clear: both;
}

/* Find match*/
.find_match {
    text-align: center;
    color: #241D1F;
    font-size: 500%;
    font-family: 'Raleway' -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 4%;

}

.find_match_content {
    margin-top: 2%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30%;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    padding-bottom: 3%;

}


/* Create your own match */
.create_your_own_match {
    width: 100%;
    height: 800px;
    background: linear-gradient(63deg, #5252D4 13%, #5252D4 100%);
    margin-top: 7%;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-bottom: 50%;

}

.create_your_own_match_title {
    text-align: center;
    color: white;
    font-size: 500%;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    word-wrap: break-word;

}

.create-match-content {
    margin-top: 3%;
    text-align: center;
    color: white;
    font-size: 150%;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.picture_box {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* Hover effects */
.picture:hover {
    /* Shine effect */
    transform: scale(1.05);
    /* Slightly increase size */
    font-weight: bold;
}


.picture {
    width: 45%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.feedback-btn {
    position: fixed;
    bottom: 50px;
    right: 60px;
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
    text-align: center;
}

.feedback-img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feedback-img:hover {
    transform: scale(1.1);
}

.feedback-btn .info {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.feedback-btn:hover .info {
    visibility: visible;
    opacity: 1;
}

.view_match {
    width: 100%;
    height: 800px;
    background: linear-gradient(63deg, #5252D4 13%, #5252D4 100%);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.match_container {
    margin: 5%;
    background: white;
    width: 15%;
}


.created_match_title {
    margin-top: 100px;
    text-align: center;
    color: #5252D4;
    font-size: 500%;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 20px;

}

/* Optional: Add this if you want a smoother background transition */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.grid-section {
    text-align: center;
    padding: 60px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
    background: white;
    border-radius: 15px;
}

.grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;

    transition: all 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.image-label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin: 0;
    padding: 15px 15px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.grid-item:hover .image-label {
    color: #1E90FF;
    transform: scale(1.05);
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.view-all-btn {
    padding: 15px 25px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s ease;
    margin-top: 2%;
    text-decoration: none;
    /* Prevent underline */
}

.view-all-btn {
    background: linear-gradient(135deg, #5252D4, #5146b4);
    /* Blue gradient */
}

/* Hover effects */
.view-all-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Shine effect */
    transform: scale(1.05);
    /* Slightly increase size */
    font-weight: bold;
}

.info_title {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 30px;
    color: #5252D4;
}

.info {
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    color: #636363ed;
    text-align: left;
}

