.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}

.profile-title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 50px;
    color: #5252D4;

}

.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    max-width: 900px;
    width: 100%;
}

.profile-left,
.profile-right {
    padding: 20px;
}

.profile-left {
    flex: 1;
    text-align: center;
    margin-top: 20px;
    margin-right: 200px;
}

.profile-pic,
.profile-pic-player{
    left: 200px;
}

.group {
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-align: left;
}

.group label {
    width: 150px;
    font-size: 20px;
    color: #676767;
    margin-right: 10px;
}

.profile-right input,
.profile-right textarea {
    flex: 1;
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.profile-right textarea {
    resize: none;
    height: 100px;
}

.profile-left img {
    width: 500px;
    height: 400px;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.circle_container {
    display: flex;
    flex-wrap: wrap;
    /* Allow circles to wrap to the next row if needed */
    justify-content: center;
    /* Center-align circles horizontally */
    gap: 30px;
    /* Add spacing between circles */
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    /* Add some space at the top */
    max-width: 800px;
    /* Adjust width to control wrapping based on the larger size */

}

.circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
}

.players_list {
    text-align: left;
    /* Center-align the list under the circles */
    margin-top: 100px;
    /* Adjust font size for better readability */
    transform: translateX(50%);
    margin-left: -600px;
    color: #A0A9B5;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   
}

.players_title {
    width: 400px;
    height: 104px;
    color: #EB1436;
    font-size: 70px;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    ;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Center text */
div p {
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    /* Ensure text is centered */
}

/* Style the joined button */
.joined_button {
    width: 75%;
    height: 70px;
    font-size: 16px;
    /* Adjust font size */
    font-weight: 700;
    color: white;
    background: linear-gradient(202deg, #EB1436 0%, rgba(235, 20, 54, 0.66) 71%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    /* Fix button display */
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.joined_button:hover {
    background-color: #e50c28;
}

.players_list a {
    text-decoration: none;
    color: black;
}

.players_list a:hover {
    color: #EB1436;
    transform: translateY(-3px);
    display: inline-block;
}

.edit_button {
    background: none;
    /* Remove background */
    border: none;
    /* Remove border */
    padding: 0;
    /* Remove padding */
    cursor: pointer;
    /* Make the image behave like a clickable button */
    margin-top: 20px;
    margin-right: -1006px;
}

.edit_button img:hover {
    transform: scale(1.1);
    /* Slightly enlarges the image */
    transition: all 0.3s ease;
    /* Smooth transition */
}

.group select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-right: 40px;
}

select:focus {
    outline: none;
    /* Remove default focus styles */
    border-color: #5252D4;
    /* Highlight the border on focus */
    box-shadow: 0 0 5px rgba(82, 82, 212, 0.5);
    /* Optional focus shadow */
}

input:focus {
    outline: none;
    /* Remove default focus styles */
    border-color: #5252D4;
    /* Highlight the border on focus */
    box-shadow: 0 0 5px rgba(82, 82, 212, 0.5);
    /* Optional focus shadow */
}

.update_button {
    background: none;
    /* Remove background */
    border: none;
    /* Remove border */
    padding: 0;
    /* Remove padding */
    cursor: pointer;
    /* Make the image behave like a clickable button */
    margin-top: 40px;
    margin-right: -335px;
}

.update_button img {
    width: 17%;
    /* Adjust the image size as per your needs */
    height: auto;
    /* Maintain the aspect ratio */
}

.update_button img:hover {
    transform: scale(1.1);
    /* Slightly enlarges the image */
    transition: all 0.3s ease;
    /* Smooth transition */
}

/* chat room */

.chatroom {
    margin-top: 100px;
    border-radius: 20px;
    padding: 65px;
    background: white;
    max-width: 900px;
    /* Limiting max width */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.chatroom h2 {
    color: #5252D4;
    font-size: 60px;
    font-family: Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 19px;

}



.chat-messages {
    color: #000;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    padding-right: 10px;
    /* Reserve space for the scrollbar */
}

/* Webkit Scrollbar */
.chat-messages::-webkit-scrollbar {
    width: 12px;
    /* Scrollbar width */
    height: 50%;
    /* Shorten scrollbar height */
}

/* Track (background) */
.chat-messages::-webkit-scrollbar-track {

    border-radius: 10px;
    margin: 20px 0;
    /* Add spacing to center the scrollbar vertically */
}

/* Handle (scroll thumb) */
.chat-messages::-webkit-scrollbar-thumb {
    background: #5252D4;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 60px;
    /* Shorter scrollbar thumb */
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background: #3a3a8c;
}


.chat-message {
    margin-bottom: 15px;
    display: flex;
}

.chat-message.my-message {
    justify-content: flex-end;
    /* Right align for current user */
}

.chat-message.other-message {
    justify-content: flex-start;
    /* Left align for other users */
}

.chat-message p {
    background-color: #5252D4;
    color: white;
    padding: 10px;
    border-radius: 15px;
    max-width: 55%;
    word-wrap: break-word;
}

.chat-message.other-message p {
    background-color: #7b848e;
    /* Different background for others */
}

#chatInput {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #b6b4b472;
    margin-bottom: 10px;
    margin-top: 10px;
    resize: none;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
}

.chat_button {
    padding: 10px 15px;
    background-color: #d1cbcc;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 705px;
    transform: translateY(-63px);
}




/* TESTINGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG */

.big_container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-100px);
}


.match-request {

    background-color: #fff;
    margin: 20% auto;
    padding: 40px;
    border-radius: 20px;
   
    max-width: 800px;

}
.match-request h1{

color: black;
margin-bottom: 30px;

}

.detail {
    font-size: 1.0em;
    margin-bottom: -40px;
    background-color: #f8f9fa;
    border-radius: 10px;
    transition: transform 0.2s;
    padding: 15px;
}

.friend-name {
    font-size: 35px;
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position: relative;
    top: -3px;
    left: 0px;
    color: #000;
    margin-left: -200px;

}

.detail3 {
    font-size: 1.0em;
    margin-bottom: -40px;
    background-color: #f8f9fa;
    border-radius: 10px;
    transition: transform 0.2s;
    padding: 30px;
}

.friend-name3 {
    font-size: 35px;
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position: relative;
    top: -22px;
    left: 0px;
    color: #000;
    margin-left: -200px;

}

/* Style for action forms */
.action-form {
    display: inline-block;
    margin: 0 5px;
}

/* Base style for buttons */
.action-button {
    display: inline-block;
    padding: 8px 18px;
    font-size: 27px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: translate(445px,-28px);
}

/* Accept button styling */
.accept-button {
    background: #34c759;
    
}

.accept-button:hover {
    background: #34c759;
    transform: translate(445px,-22px) scale(1.05);
   /*  box-shadow: 0 6px 10px rgba(52, 199, 89, 0.6);*/
}

/* Reject button styling */
.reject-button {
    background:#ff3b30;
   
}

.reject-button:hover {
    background: #ff3b30;
    transform: translate(445px,-22px) scale(1.05);
    /*box-shadow: 0 6px 10px rgba(255, 59, 48, 0.6);*/
}


.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    position: relative;
    top: 5px;
    margin-left: 10px;
    transform: translateX(-300px);
}

.detail a {
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block;
    /* Ensures `transform` works */
}

.detail a:hover {
    color: #5252D4;
    transform: scale(1.05);
    /* Slightly enlarges the element */
    text-decoration: none;
}

.detail3 a {
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block;
    /* Ensures `transform` works */
}

.detail3 a:hover {
    color: #5252D4;
    transform: scale(1.05);
    /* Slightly enlarges the element */
    text-decoration: none;
}

.profile-pic-player {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    position: relative;
    top: 8px;
    margin-left: 10px;

}


.premium-frame {
display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 18%;
    height: 18%;
    pointer-events: none;
    transform: translate(174px, 7px);
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

.image-container-match
{
    position:absolute;
}

.premium-frame-host {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 18%;
    height: 18%;
    pointer-events: none;
    transform: translate(114px, -49px);
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}
