* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar .logo img {
    margin-top: 10px;
    height: 40px;
    width: auto;
}

.navbar .menu li {
    margin-left: 40px;
}

.navbar .leftmenu,
.navbar .rightmenu {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar .menu li img {
    width: 25px;
    height: auto;
    margin-left: 10px;
    flex-shrink: 0;
}

.navbar .rightmenu {
    margin-left: auto;
}

.navbar .menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar .menu .profile img.uploaded-image {
    width: 40px;   /* Adjust the width of the profile image */
    height: 40px;  /* Adjust the height of the profile image */
    border-radius: 50%; /* Ensure it's circular */
    object-fit: cover; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Add smooth transformation on hover */
}

.navbar .menu .profile img.uploaded-image:hover {
    transform: scale(1.2); /* Slight zoom effect on hover */
}


.navbar .menu a:hover {
    color: #ff0000;
}

/* Notification red dot styling */
.notification {
    position: relative;
    /* Allows positioning of the red dot */
}

.red-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    /* Optional for making it more visible */
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Background color with opacity */
    justify-content: center; /* Center the modal horizontally */
    align-items: center; /* Center the modal vertically */
    transition: opacity 0.3s ease; /* Smooth fade-in effect */
}

/* Modal content styles */
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 600px;
    position: relative;
    overflow-y: auto;
}

/* Close button styles */
.close-btn {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    background: none;
    border: none;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #ff0000; /* Change color on hover for better visibility */
    text-decoration: none;
}

/* Modal content styling for friend requests */
#friendRequestsModal {
    display: none;  /* Hide the modal initially */
    width: 100%;
    padding: 10px;
}
