body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulseBackground 6s infinite;
}

@keyframes pulseBackground {

    0%,
    100% {
        background-color: #5252D4;
    }

    50% {
        background-color: #4682B4;
    }
}

.container {
    margin: 40px auto;
    width: 90%;
    max-width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    margin: 30px 20px;
    color: #5252D4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

h1 {
    text-align: center;
    color: #5252D4;
    font-size: 50px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    color: #333;
    margin-top: 20px;
}

.info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    gap: 50px;
    padding: 0px 20px
}

.info-left,
.info-right {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #5252D4;
    font-size: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

ul li strong {
    color: #5252D4;
}

.form-actions {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}

.btn-primary {
    background-color: #5252D4;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #4343b0;
    transform: scale(1.05);
}

.btn-danger {
    background-color: #e63946;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #c5303b;
    transform: scale(1.05);
}

.btn-secondary {
    margin-left: 0px;
    background-color: #808080;
    color: #fff;
    border: none;
}

.btn-secondary:hover {
    background-color: #a9a9a9;
    transform: scale(1.05);
}