body {
    background-color: #e8d3f0;
    text-align: center;
}

h1 {
    background: white url(IMAGE/1.png) no-repeat right;
    padding: 20px 120px;
    /* Adjust padding as needed */
    font-size: 40px;
    /* Increased font size for impact */
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    display: block;
    /* Ensure block-level for full width */
    text-align: left;
    /* Center-align text */
    color: #1c1c1e;
    /* Text color */
    font-family: 'Lora', serif;
    text-transform: uppercase;
    /* Uppercase text for impact */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Text shadow effect */
}

.container {
    background-image: url(IMAGE/1.jpg);
    display: flex;
    background-size: cover;
    border-radius: 15px;
    height: 80vh;
    box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid;
}

form {
    width: 400px;
    background-image: url(IMAGE/2.jpg);
    border-radius: 15px;
    display: inline-block;
    margin: 50px 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

h2 {
    font-size: 40px;
    text-align: center;
}

.input-box {
    margin: 30px;
}

.input-box input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    height: 10%;
    border: 3px solid;
    border-radius: 30px;
    padding: 0px 20px;
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a47ed4;
    color: #ffffff;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover,
a.button:hover {
    background-color: #005ecb;
    color: #ffffff;
    text-decoration: underline;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}